# TUPLE

In [ ]:
tup1 = []

In [3]:
tup2 = (10,20,30)

In [5]:
tup3 = (10.77,30.66,60.89)

In [7]:
tup4 = ('one','two','three')

In [9]:
tup5 = ('Sun',25,(50,100),(150,90))

In [11]:
tup6 = (100,'Sun',17.765)

In [13]:
tup7 = ('Sun',25,[50,100],[150,90],{'John','David'},{99,22,33})

In [15]:
len(tup7)

6

# TUPLE INDEXING

In [18]:
tup2[0]

10

In [20]:
tup4[0]

'one'

In [22]:
tup5[0][0]

'S'

In [24]:
tup4[-1]

'three'

In [26]:
tup5[-1]

(150, 90)

# TUPLE SLICING

In [29]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [31]:
mytuple[0:3]

('one', 'two', 'three')

In [33]:
mytuple[2:5]

('three', 'four', 'five')

In [35]:
mytuple[:3]

('one', 'two', 'three')

In [39]:
mytuple[-3:]

('six', 'seven', 'eight')

In [41]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# REMOVE AND CHANGE ITEMS

In [46]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [48]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [50]:
mytyple[0]

NameError: name 'mytyple' is not defined

In [52]:
del mytuple

In [54]:
mytuple

NameError: name 'mytuple' is not defined

In [56]:
mytuple = ('one','two','three','four','five','six','seven','eight')

In [58]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [62]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [64]:
type(mytuple)

tuple

In [66]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [68]:
tup6

(100, 'Sun', 17.765)

In [72]:
for i in enumerate(tup6):
    print(i)

(0, 100)
(1, 'Sun')
(2, 17.765)

# TUPLE MEMBERSHIP

In [77]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [79]:
'five' in mytuple

True

In [81]:
'ten' in mytuple

False

In [83]:
if 'eight' in mytuple:
    print("Eight is present in the tuple")
else:
    print("Eight is not present in the tuple")

Eight is present in the tuple

In [85]:
if 'zero' in mytuple:
    print("zero is present in the tuple")
else:
    print("zero is not present in the tuple")

zero is not present in the tuple

# INDEX POSITION

In [90]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [92]:
mytuple.index('four')

3

In [94]:
mytuple.index('zero')

ValueError: tuple.index(x): x not in tuple

In [96]:
mytuple.index('six')

5

In [98]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [100]:
mytuple1 = ('one','two','three','four','one','two','three','four')

In [102]:
mytuple1.index('four')

3

# SORTING

In [105]:
mytuple2 = (43,67,99,12,6,90,67)

In [107]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [109]:
mytuple2

(43, 67, 99, 12, 6, 90, 67)

In [111]:
sorted(mytuple2,reverse = True)

[99, 90, 67, 67, 43, 12, 6]

In [113]:
mytuple2.count(67)

2

In [115]:
mytuple2.count(90)

1